// longer volume slider
.app-chrome when (@use-longer-volume-slider = true) {
	
	.app-chrome-item.volume {
		width: 175px;
        margin-right: 10px;
	}
	
	.app-chrome-item.generic {
		width: 30px;
	}
}

// more compact sidebar entries
#app.compact #app-sidebar when (@use-more-compact-sidebar = true) {

	width: @s-sidebar-width;

	.app-sidebar-content {

		padding: 0 5px 0 5px;
		
		.app-sidebar-item {
			border-radius: var(--mediaItemRadiusSmall);
			height: @s-sm-sidebar-item-height;
			font-size: @s-sm-sidebar-item-font-size;
		}
	}
}

// toggleable arrows on sidebar show or not
.app-sidebar-header-text when (@hide-collapse-arrows = true) {
    
	background-image: none;

	&.collapsed {
		background-image: none;
	}
}

// make text under albums and other items centred in replay page
.replay-viewport * {
	.title, .subtitle {
		justify-content: center !important;
		text-align: center !important;
	}
}

// change cider logo at top left to custom
.app-chrome .app-chrome-item > .app-mainmenu {

	& when (@use-custom-logo = true) {
		background: url(@custom-logo-url);
		background-size: contain;
	}

	& when (@use-grayscale-logo = true) {
		filter: grayscale(0.4);
		opacity: 0.5;
	}
}

// grayscale upperleft corner logo


// lol
[title="DJ Khaled"] {
	opacity: 100% !important;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	font-weight: 800;

	// stack overflow blessed up 
	background: red;
	background: linear-gradient(to right, red , orange, yellow, green, blue, purple);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}